<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<cs_amelia>
			<general>
				<sticky>true</sticky>
				<url><![CDATA[https://canadasatellite.dev.amelia.com/Amelia/ui/cansatdev/?embed=iframe&domainCode=casatdev]]></url>
			</general>
		</cs_amelia>
    </default>
</config>