// 2021-09-17
div.cs-amelia {
	bottom: 0;
	max-height: ~'calc(100% - 82px)';
	position: fixed;
	right: 4px; // 2021-09-23 Because of the vertical scrollbar.
	width: 350px;
	z-index: 100;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
	> .cs-close {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		font-size: 21px;
		cursor: pointer;
	}
}