// 2021-09-17
div.cs-amelia {
	background: yellow;
	bottom: 0;
	max-height: ~'calc(100% - 82px)';
	position: fixed;
	right: 0;
	width: 350px;
	z-index: 100;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
	&:after {
		position: absolute;
		top: 0;
		right: 0;
		content: '✕';
		display: block;
		font-size: 21px;
		cursor: pointer;
	}
}